<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- This is used by all the beans below. -->
  <bean name="customerRepository"
        class="com.seanborland.repository.HibernateCustomerRepositoryImpl"/>

  <!-- This is for "setter injection" -->
  <!-- <bean name="customerService"
      class="com.pluralsight.service.CustomerServiceImpl">
      <property name = "customerRepository" ref="customerRepository" />
  </bean> -->


  <!-- This is for "Constructor injection"
       index represents the args in constructor-->
  <!-- <bean name="customerService"
   class="com.pluralsight.service.CustomerServiceImpl">
   <constructor-arg index="0" ref="customerRepository" />
</bean> -->


  <!-- This is using "Autowiring" by constructor -->
  <!-- <bean name="customerService"
      class="com.pluralsight.service.CustomerServiceImpl" autowire="constructor">
     <constructor-arg index="0" ref="customerRepository" />
  </bean> -->


  <!-- This is using "Autowiring" by type -->
  <bean name="customerService"
        class="com.seanborland.service.CustomerServiceImpl" autowire="byType"/>

  <!-- This is using "Autowiring" by name (uses the name after set in setter)-->
  <!-- <bean name="customerService"
      class="com.pluralsight.service.CustomerServiceImpl" autowire="byName">
  </bean> -->
</beans>
